body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    background-color: orange; /* Updated to orange */
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

h1:hover {
    color: red;
}

h2:hover {
    color: blue;
}

footer:hover {
    color: purple;
}

header {
    background-color: orange; /* Updated to orange */
}

.recipe-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 16px;
}

.page-title{
    text-align: center;
    margin-bottom: 20px;
}
